{% load staticfiles %}

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &#169; ZerkerRSPS 2015</p>
    </div>
</footer>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'zerkerapp/js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'zerkerapp/js/jquery.easing.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'zerkerapp/js/grayscale.js' %}"></script>

<script src="{% static 'zerkerapp/js/highscores.js' %}"></script>