
{% load staticfiles %}
<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img src="{% static 'zerkerapp/img/spinning-sword.png' %}" style="margin-top: -5px;display:inline;">  <span class="light">Zerker</span> RSPS
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://zerker-rsps.com:8080/">FORUM</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/webclient">WEB CLIENT</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#downloadsection">DOWNLOADS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/donate">DONATE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/vote">VOTE</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>