<!DOCTYPE html>
<html lang="en">

	<head>

	{% load staticfiles %}

    <title>Zerker RSPS | Donate</title>

    {% include "zerkerapp/fragments/imports.html" %}
    <link href="{% static 'zerkerapp/css/donate.css' %}" rel="stylesheet" type="text/css">

</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

		{% include "zerkerapp/fragments/head.html" %}

		<div id="donate_wrapper">

			<section id="donate" class="container content-section text-center">
				<div class="donate_image"></div>
		        <div class="row">
		        	
					<div class="col-lg-2">
						<h3>Categories</h3>
	        			<ul>
	        				{% for cat in itemcats %}
		                    	{% if cat.cat_name == pageName %} 
		                    		<li class="activeLink"><a href="/donate/{{cat.cat_name}}">{{cat.cat_name}}</a></li>
	                    		{% else %} 
	                    			<li><a href="/donate/{{cat.cat_name}}">{{cat.cat_name}}</a></li>
		                    	{% endif %}
			                {% endfor %}
	        			</ul>
		        	</div>

		        	<div class="col-lg-9">
		        		<div class="pagination">
						    <span class="step-links">
						        {% if items.has_previous %}
						            <a href="?page={{ items.previous_page_number }}"><button type="button" class="btn btn-default btn-lg">previous</button></a>
						        {% endif %}

						        <span class="current">
						            Page {{ items.number }} of {{ items.paginator.num_pages }}.
						        </span>

						        {% if items.has_next %}
						            <a href="?page={{ items.next_page_number }}"><button type="button" class="btn btn-default btn-lg">next</button></a>
						        {% endif %}
						    </span>
						</div>
		        		<table>
						  <tr>
						    <td>Item</td>
						    <td>Description</td> 
						    <td>Price</td> 
							<td></td>
						  </tr>
						   {% for item in items %}
						        <tr>
						            <td>{{ item.item_name }}</td>
						            <td>{{ item.item_description }}</td>
						            <td>{{ item.price }}</td>
						            <td><button type="button" class="btn btn-default btn-lg">Donate</button></td>
						        </tr>
						    {% endfor %}
						</table>
						<div class="pagination">
						    <span class="step-links">
						        {% if items.has_previous %}
						            <a href="?page={{ items.previous_page_number }}"><button type="button" class="btn btn-default btn-lg">previous</button></a>
						        {% endif %}

						        <span class="current">
						            Page {{ items.number }} of {{ items.paginator.num_pages }}.
						        </span>

						        {% if items.has_next %}
						            <a href="?page={{ items.next_page_number }}"><button type="button" class="btn btn-default btn-lg">next</button></a>
						        {% endif %}
						    </span>
						</div>
		        	</div>
		        </div>
	    	</section>

	    </div>

		{% include "zerkerapp/fragments/footer.html" %}
	</body>
</html>