<!DOCTYPE html>
<html lang="en">

<head>

	{% load staticfiles %}

    <title>Zerker RSPS</title>

    {% include "zerkerapp/fragments/imports.html" %}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    
    {% include "zerkerapp/fragments/head.html" %}

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <p class="intro-text">
                {% for context in online %}
                    {{ context.online }} PLAYERS ONLINE
                {% endfor %}
            </p>
            <div class="container" style="width: 100%;padding-left:0px;padding-right:0px;">
                <div class="row">
                    <div class="col-md-12 ">
                        <h1 class="brand-heading"></h1>
                        <div id="web_client" class="col-md-4 header_btn">.
                            <div class="header_btn_label">
                                    <a href="/webclient">
                                    <div id="header_btn_image">
                                        <img src="{% static 'zerkerapp/img/large-spinning-sword.png' %}">
                                    </div> 
                                    Web Client 
                                </a>
                            </div>
                        </div>
                        <div id="community" class="col-md-4 header_btn">
                            <div class="header_btn_label">
                                    <a href="http://zerker-rsps.com:8080/">
                                    <div id="header_btn_image">
                                        <span class="fa fa-wechat"></span>
                                    </div> 
                                    Community
                                </a>
                            </div>
                        </div>
                        <div id="downloads" class="col-md-4 header_btn" style="margin-top: 25px">
                            <div class="header_btn_label">
                                <a href="#downloadsection">
                                    <div id="header_btn_image">
                                        <img src="{% static 'zerkerapp/img/downloads.png' %}">
                                    </div> 
                                    Downloads 
                                </a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <a name="downloadsection"></a>
    <!-- About Section -->
    <section id="play" class="container content-section text-center">
        <div class="row">
            
                <div class="col-md-4 download_btn">
                    <a href="https://www.dropbox.com/s/rax8ejrmikmu2mt/client.jar?dl=1" class="page-scroll">
                        <h1 id="play-banner" class="brand-heading pull-right">Download</h1>
                    </a>
                </div>
                <div class="col-md-7 download_banner" > 
                    <h2>Need help running the desktop client? </h2>
                    <span class="banner_subtext">
                        1. Click the download button to install the desktop client jar onto your computer<br>
                        2. Open the command line by hitting ctrl-r then typing cmd and hit enter<br>
                        3. Navigate to the directory you stored the jar file in<br>
                        4. Run 'java -jar zerkerclient.jar'<br>
                </div>

            <div class="col-lg-3 col-lg-offset-0">
                <h2>Zerker</h2>
                <p>Having nostalgia? Zerker is an RSPS built on the 498 protcol of runescape. Our goal isn't for you to stop playing the live version of the game found <a href="http://www.runescape.com">here</a>, but to rather provide you with an easier alternative to the game.
                </p>
            </div>
            
            <div id="forum-post" class="col-lg-8 col-lg-offset-0" >
                <span class="div-header">Latest Forum Posts</span>
                <table style="width:100%">
                    <tr>
                        <th>Username</th>
                        <th>Topic</th>       
                        <th>Message</th>
                    </tr>
                    {% for post in forum_posts %}
                        <tr>
                            <td>{{ post.poster }} </td>
                            <td class="postsubject">{{ post.subject }} </td> 
                            <td class="postmessage">{{ post.message|slice:":150" }}...</td>
                        </tr>
                    {% endfor %}
                </table>   
            </div>

            <div id="top-players" class="col-lg-8 col-lg-offset-0">
                <span class="div-header">Top Players Today</span>
                <table id="highscores_table" style="width:100%">
                    <tr>
                        <th>Username</th>
                        <th>Level</th>       
                        <th>EXP +</th>
                    </tr>
                    {% for highscore in highscores %}
                        <tr>
                            <td>{{ highscore.username }} </td>
                            <td class="lvl_td"></td> 
                            <td class="xp_td">{{ highscore.overall_xp }}</td>
                        </tr>
                    {% endfor %}
                </table>                
            </div>

        </div>

    </section>

    <section id="about" class="container content-section text-center">
       
    </section>


    
    {% include "zerkerapp/fragments/footer.html" %}

</body>

</html>
