<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>

	{% load staticfiles %}

	{% include "zerkerapp/fragments/imports.html" %}
	<title>Zerker | Vote</title>
	<link href="{% static 'zerkerapp/css/vote.css' %}" rel="stylesheet" type="text/css">
	<style type="text/css">
	html, body {heiht:100%;margin:0 padding:0;}
	#page-background {position:fixed; top:0; left:0; width:100%; height:100%}
	#content {position:relative; z-index:1; padding:10px; }
	</style>
</head>

<body>

	{% include "zerkerapp/fragments/head.html" %}

	<div id="vote_wrapper">
		<section id="vote" class="container content-section text-center">
			<div class="vote_image"></div>
	        <div class="row">
	        	<div class="col-lg-12">
	        		vote
	        	</div>
	        </div>
    	</section>
	</div>
	

	{% include "zerkerapp/fragments/footer.html" %}
</body>
</html>