<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>

	{% load staticfiles %}

	{% include "zerkerapp/fragments/imports.html" %}
	<title>Zerker | Web Client</title>
	<link href="{% static 'zerkerapp/css/webclient.css' %}" rel="stylesheet" type="text/css">
	<style type="text/css">
	html, body {heiht:100%;margin:0 padding:0;}
	#page-background {position:fixed; top:0; left:0; width:100%; height:100%}
	#content {position:relative; z-index:1; padding:10px; }
	</style>
</head>

<body>

	{% include "zerkerapp/fragments/head.html" %}

	<div id="webclient_wrapper">
		<section id="webclient" class="container content-section text-center">
			<div class="webclient_image"></div>
	        <div class="row">
	        	<div class="col-lg-12">
	        		<center>
					<applet id="client-jar" code="org.arios.jagex.Game" archive="https://www.dropbox.com/s/rax8ejrmikmu2mt/client.jar?dl=1" width="765" height="502">
					Java is not installed on your machine or your browser does not allowed Java Applet to run<br /><br />Get the latest Java technology at <a href="http://www.java.com/">http://www.java.com/</a>
					<param name="java_arguments" value="-Xmx512m -Xss2m -Dsun.java2d.noddraw=true -XX:CompileThreshold=1500 -Xincgc -XX:+UseConcMarkSweepGC -XX:+UseParNewGC"><param name="seperate_jvm" value="true"></applet></center>
	        	</div>
	        </div>
    	</section>
	</div>
	

	{% include "zerkerapp/fragments/footer.html" %}
</body>
</html>