#donate {
    padding-top: 120px;
}

#donate_wrapper {
    min-height: 800px;
    background: linear-gradient( rgba(255, 0, 0, 0), rgba(0, 0, 0, 1) ), url("../img/index_wallpaper.jpeg");
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#donate .row {
    background-color: rgba(0, 0, 0, 0.44);
    border: 2px solid black;
}

.donate_image {
    height: 120px;
    background: url("../img/donate.png")  top center no-repeat;
}

#donate .col-lg-2,
#donate .col-lg-9  {
    background: url("../img/div-bg.jpg") top center repeat-x;
    border: 2px solid black;
    background-color: black;
    height: 100%;

}

#donate .col-lg-9  {
    text-align: left; 
    margin: 20px;   
    padding: 50px;
}

#donate .col-lg-2 {
  width: 16.66666667%;
  min-height: 500px;
  margin: 0px;
  margin-top: 20px;
  padding: 0;
  margin-left: 40px;
}

#donate .col-lg-2 ul {
    list-style: none;
    padding: 0;
}

#donate .col-lg-2 li {
    background-color: rgba(0, 0, 0, 0.47);
    padding: 5px;
    margin-bottom: 5px;
}

#donate .col-lg-2 li.activeLink {
    background-color: #000;
    color: red;
}

#donate h3 {
    color: rgb(199, 199, 199);
    margin-top: 20px;
}

#donate td {
    padding: 20px;
}


#donate table {
      background-color: rgba(0, 0, 0, 0.47);
      width: 100%;
}

