#webclient_wrapper {
   min-height: 800px;
   background: linear-gradient( rgba(255, 0, 0, 0), rgba(0, 0, 0, 1) ), url("../img/index_wallpaper.jpeg");
   background-color: #000;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

#webclient .row {
   background-color: rgba(0, 0, 0, 0.44);
   border: 2px solid black;
}

.webclient_image {
   height: 120px;
   background: url("../img/webclient.png")  top center no-repeat;
}

#webclient .col-lg-2,
#webclient .col-lg-12  {
   background: url("../img/div-bg-head.jpg") top center repeat-x;
   border: 2px solid black;
   background-color: black;
   height: 100%;
}

#webclient .col-lg-12  {
   background: url("../img/div-bg-head.jpg") top center repeat-x;
 }



#webclient h3 {
   color: rgb(199, 199, 199);
   margin-top: 20px;
}

#webclient .col-lg-2,
#webclient .col-lg-12  {
    background: url("../img/div-bg-head.jpg") top center repeat-x;
    border: 2px solid black;
    background-color: black;
    height: 100%;
}

applet#client-jar {
  margin-top: 50px;
}

#webclient .col-lg-2 {
   width: 16.66666667%;
   min-height: 500px;
   margin: 0px;
   margin-top: 20px;
   padding: 0;
   margin-left: 40px;
}

#webclient .col-lg-2 ul {
    list-style: none;
    padding: 0;
}

#webclient .col-lg-2 li {
    background: rgb(56, 56, 56);
    padding: 5px;
    margin-bottom: 5px;
}


