/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */




 body {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    font-family: knights-quest, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}


html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Raleway;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

@font-face {
    font-family: 'knights-quest'; /*a name to be used later*/
    src: url('../fonts/knightsquest.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'knights-quest-callig'; /*a name to be used later*/
    src: url('../fonts/knightsquestcalig.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'van-helsing'; /*a name to be used later*/
    src: url('../fonts/Van Helsing.ttf'); /*URL to font*/
}

a {
    color: #FF0000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #FF7676;
}

.row {
    margin-right: 0px; 
    margin-left: 0px; 
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    background-color: #000;
}


.navbar-custom .navbar-brand {
    font-weight: 700;
    background: url("../img/div-bg-head.jpg") top center repeat-x;
    border: 2px solid black;
    background-color: black;

}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: red;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    outline: 0;
    background: #000;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
}

.navbar-custom .nav li.active {
    outline: 0;
    background: #454545;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.navbar-right {
    background: url("../img/div-bg-head.jpg") top center repeat-x;
    border: 2px solid black;
    background-color: black;
}

.top-nav-collapse .navbar-right, 
.top-nav-collapse .navbar-brand{
    background: transparent;
    border: none;
}

.top-nav-collapse.navbar-custom {
    background: url("../img/div-bg-head.jpg") top center repeat-x;
    background-color: #000;
}


@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: linear-gradient( rgba(255, 0, 0, 0), rgba(0, 0, 0, 1) ), url("../img/index_wallpaper.jpeg");
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    padding-top: 130px;
}

.intro .intro-body .brand-heading {
    font-size: 20px;
    height: 200px;
    background: url("../img/logo.png") center center no-repeat;
}

.intro .intro-body .intro-text {
    font-size: 17px;
    font-family: arial, Helvetica;
    color: #000;
    color: rgb(160, 126, 126);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.53);
    margin-bottom: 0;
}

.intro h1 {
    font-family: 'Permanent Marker', cursive;
    background: #000;
    color: red;
}

.intro a{
    color: red;
    font-size: 50px;
    background: black;
    padding: 20px;
    font-weight: bold;
    border-radius: 50px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.content-section#about {
    padding-top: 100px;
}


h1#play-banner {
  color: red;
  font-size: 50px;
  background-color: #000;
  padding: 15px;
  font-weight: 200;
  border: 1px solid;
  transition: opacity 0.5s ease-in-out;
}

h1#play-banner:hover { 
    color: #680000;
}

div#forum-post {
    background: rgb(27, 27, 27);
    background: url(../img/bg.jpg) no-repeat center center scroll;
    margin-right: 20px;
    padding: 20px;
}

div#top-players {
    background: rgb(27, 27, 27);
    padding: 20px;
    background: url(../img/bg.jpg) no-repeat center center scroll;
}

div#hottest-items {
    background: rgb(27, 27, 27);
    background: url(../img/bg.jpg) no-repeat center center scroll;
    margin-top: 20px;
    border: 2px solid white;
    padding: 20px;
    width: 800px;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:992px) {
    .content-section {
        padding-top: 120px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

@media(max-width:992px) {
    .header_btn {
        width: 100%;
    }
    .intro .intro-body {
        padding-top: 50px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #FF0000;
    color: #FF0000;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #FF0000;
    outline: 0;
    color: #000;
    background-color: #FF0000;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:992px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    font-family: Arial, sans-serif;
}

footer p {
    margin: 0;
    font-size: 16px;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}


/* Chrome, Safari, Opera */
@-webkit-keyframes comm_hover {
    from {color: rgb(201, 0, 14);}
    to {color: #6f0008;}
}

@-moz-keyframes comm_hover {
    from {color: rgb(201, 0, 14);}
    to {color: #6f0008;}
}

/* Standard syntax */
@keyframes comm_hover {
    from {color: rgb(201, 0, 14);}
    to {color: #6f0008;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes comm {
    from {color: #6f0008;}
    to {color: rgb(201, 0, 14);}
}

@-moz-keyframes comm {
    from {color: #6f0008;}
    to {color: rgb(201, 0, 14);}
}

/* Standard syntax */
@keyframes comm {
    from {color: #6f0008;}
    to {color: rgb(201, 0, 14);}
}

#community span {
    font-size: 130px;
    color: rgb(201, 0, 14);
    -webkit-animation-name: comm; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.7s; /* Chrome, Safari, Opera */
    -moz-animation-name: comm;
    -moz-animation-duration: 0.7s;
    animation-name: comm;
    animation-duration: 0.7s;
}

#community:hover span {
    color: #6f0008;
    -webkit-animation-name: comm_hover; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.7s; /* Chrome, Safari, Opera */
    -moz-animation-name: comm_hover;
    -moz-animation-duration: 0.7s;
    animation-name: comm_hover;
    animation-duration: 0.7s;
}



.header_btn_label {
  font-size: 40px;
  padding-left: 10px;
  color: #B5B5B5;
}

.header_btn_label a {
    padding: 0px;
    color: #B5B5B5;
    font-weight: normal;
    font-size: 40px;
    background: none;
}

#header_btn_image {
  margin:0 auto;
}

#header_btn_image img {
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.header_btn_label:hover img {
  opacity:0;
}

#web_client #header_btn_image {
    height: 128px;
    width: 128px;
    background: url("../img/large-spinning-sword-hover.png")  top center no-repeat;
}

#downloads #header_btn_image {
    height: 128px;
    width: 128px;
    background: url("../img/downloads-hover.png")  top center no-repeat;
}

.download_banner {
    text-align:left;
    font-family: Raleway;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 10px;
    margin-bottom: 20px;
}

.download_banner h2 {
    font-weight: 100;
}

.banner_subtext {
    font-size: 17px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    }



#play { 
    background: url("../img/div-bg.jpg") top center repeat-x;
    border: 2px solid rgb(52, 52, 52);
}

#play .row {
    font-family: Raleway;
    font-weight: 200;
    padding-bottom: 50px;
}

.div-header {
      float: left;
  font-size: 26px;
  color: red;
  font-weight: 300;
  margin-bottom: -5px;
}

#forum-post table, #top-players table {
      border-top: 1px solid #fff;
}

#forum-post table td, #top-players table td,
#forum-post table th, #top-players table th  {
    padding: 10px;
    text-align: left;
}

.postsubject {
    min-width: 120px;
}